<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
 
  <test    thread-count="5" name="Test" parallel = "classes">
     <parameter name="browser" value="chrome"></parameter>
      <parameter name="url" value="aa.com"></parameter>
     <classes>
    <!--   <class name="com.Amazon.Stream.TC01CheckNumberOfLinks"/>
      <class name="com.Amazon.Stream.DropDownDemo"/> -->
      <class name="com.Amazon.Stream.WindowHandle"/>
 <!--      <class name="com.Amazon.Stream.ValidatesortedDropDown"/>-->
      <class name="com.Amazon.Stream.Validate_GoogleDropDown"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
